<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <meta name="description" content="Jugar memoria">
        <title>Juego</title>
        <link rel="icon" href="./img/memoria.ico">
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <main role="main" id="app">
            <h1 class="text-center bg-dark text-white p-3">Juego de memoria</h1>
            
            <div class="container-fluid" class="bg-light">
                <div class="alert alert-primary" role="alert">
                    <div class="col-12">
                        <p>
                            <span class="h5">Vidas: </span>
                            <a class="text-danger" v-for="i in 5-intentos"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            <br>
                            <span class="h5">Aciertos: </span>
                            <a class="text-success" v-for="i in aciertos"><i class="fa fa-check" aria-hidden="true"></i></a>
                            
                            <br><a @click="mostrarCreditos" href="#">Desarrollador</a>
                        </p>
                    </div>
                </div>
                <div class="text-center bg-info p-3">
                    <div v-for="(fila, indiceFila) in memorama" :key="indiceFila"
                        class="row">
                        <div :key="indiceFila+''+indiceImagen" class="col-3"
                            v-for="(imagen, indiceImagen) in fila">
                            <div class="mb-3">
                                <img @click="voltear(indiceFila, indiceImagen)"
                                    :class="{'girar': imagen.mostrar}"
                                    :src="(imagen.mostrar ? imagen.ruta :
                                    NOMBRE_IMAGEN_OCULTA)" class="card-img-top img-fluid
                                    img-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="./js/sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./js/script.js"></script>
    </body>

</html>